# This directory is for future service files.
# Delete this .gitignore file if you have added service files, so that git can track them

# For now ignore everything in this directory
*
# Except this file
!.gitignore
